@import '~bulma/sass/utilities/initial-variables';

// Colors
$black: #000;
$yellow: #ffda1a;
$yellow-light: #fffbe7;
$yellow-dark: #ffa70d;

// Overrides
$navbar-background-color: transparent;
$navbar-height: 4rem;
$navbar-item-img-max-height: 2.25rem;
$primary: $yellow-dark;

@import '~bulma';

// Styles
body {
  min-height: 100vh;
  background: $yellow-light;
  border-top: 4px solid $primary;
}
